# Bytecode files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
*.venv/

# Editor and OS-specific files
*.swp
.DS_Store
Thumbs.db

# Log and debug files
*.log
*.out

# Python packages
*.egg-info/
dist/
build/

# Configuration files
*.ini
*.cfg
*.json

# Flask & Django specific files
instance/
.env
*.sqlite3

# Git-specific files
.git/
*.orig

.DS_Store

# Ignore uploaded images
/static/uploads/*
!/static/uploads/.gitkeep

#ignore apikey
apikey