logging
spidev
Pillow
requests
paho-mqtt
adafruit-blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-dht
adafruit-circuitpython-ssd1306
adafruit-ads1x15
adafruit-circuitpython-ads1x15
Adafruit_Libraries
flask
waitress
numpy
Image