<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Pot Config</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- External CSS -->
</head>
<body>
    <div class="container">
        <h2 class="title">Smart Pot Configuration</h2>
        <form action="/set_config" method="post" class="form-container">
            <div class="sections">
                <div class="section">
                    <h3>MQTT Settings</h3>
                    <label>Host:<input type="text" name="MQTT Host" value="{{ config['MQTT Host'] }}"></label>
                    <label>Port:<input type="text" name="MQTT Port" value="{{ config['MQTT Port'] }}"></label>
                    <label>Topic:<input type="text" name="MQTT Topic" value="{{ config['MQTT Topic'] }}"></label>
                    <label>Username:<input type="text" name="MQTT Username" value="{{ config['MQTT Username'] }}"></label>
                    <label>Password:<input type="password" name="MQTT Password" value="{{ config['MQTT Password'] }}"></label>
                </div>

                <div class="section">
                    <h3>Light Intensity</h3>
                    <label>Min:<input type="text" name="Light Intensity min" value="{{ config['Light Intensity min'] }}"></label>
                    <label>Max:<input type="text" name="Light Intensity max" value="{{ config['Light Intensity max'] }}"></label>
                </div>

                <div class="section">
                    <h3>Temperature</h3>
                    <label>Min:<input type="text" name="Temperature min" value="{{ config['Temperature min'] }}"></label>
                    <label>Max:<input type="text" name="Temperature max" value="{{ config['Temperature max'] }}"></label>
                </div>

                <div class="section">
                    <h3>Moisture</h3>
                    <label>Min:<input type="text" name="Moisture min" value="{{ config['Moisture min'] }}"></label>
                    <label>Max:<input type="text" name="Moisture max" value="{{ config['Moisture max'] }}"></label>
                </div>
            </div>

            <div class="button-container">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</body>
</html>